<!-- public/views/home.html -->

<div class="jumbotron text-center">

    <p>{{ tagline }}</p>
    <span>
    <i class="fa fa-step-backward fa-5x ha-icon" ng-click="previousTrack()"></i>
	<i class="fa fa-play fa-5x ha-icon" ng-click="playSonos()"></i>
	<i class="fa fa-pause fa-5x ha-icon" ng-click="pauseSonos()"></i>
	<i class="fa fa-step-forward fa-5x ha-icon" ng-click="nextTrack()"></i>
	</span>
	</br>
	<label style="padding-right:10px;">Text to Speech:</label>
	<input type="text" ng-model="speechText" ng-keydown="($event.which === 13)?sayCommand(speechText):0"></input>
	<button ng-click="sayCommand(speechText)">SAY</button>
	<p>status: {{sonosResult}}</p>
</div>