<!-- public/views/routine.html -->

<div class="jumbotron" ng-controller="RoutineController">
    <h1>create new routines</h1>

    <div>
	    <label style="padding-right:10px;">Name</label>
		<input type="text" ng-model="newRoutineName" ng-maxlength="50"></input>
	</div>
	<div>
		<label style="padding-right:10px;">Hour</label>
		<input type="number" ng-model="newRoutineHour" ng-maxlength="2"></input>
	</div>
	<div>
		<label style="padding-right:10px;">Minute</label>
		<input type="number" ng-model="newRoutineMinute" ng-maxlength="2"></input>
	</div>
	<div>
		<label style="padding-right:10px;">Day Of Week</label>
		<input type="text" ng-model="newRoutineDayOfWeek"></input>
	</div>
	<div>
		<label style="padding-right:10px;">Message</label>
		<input type="text" ng-model="newRoutineMessage"></input>
	</div>
	<button ng-click="createRoutine()">Create</button>


    <h1> existing routines </h1>
    <p>{{ tagline }}</p>

	<table class="table">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Name</th>
	      <th>Time</th>
	      <th>Day of Week</th>
	      <th>Message</th>
	      <th>Delete?</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="value in routines">
	      <td scope="row">{{$index+1}}</th>
	      <td>{{value.name}}</td>
	      <td>{{value.hour}}:{{value.minute}}</td>
	      <td>Not Finished</td>
	      <td>{{value.message}}</td>
  		  <td><i class="fa fa-times ha-icon" ng-click="deleteRoutine(value)"></i></td>
	    </tr>
  	  </tbody>
	</table>
</div>