<div class="jumbotron" ng-controller="WODController">
	<h1>Here are your WODS</h1>
	<p>{{wod}}</p>


	<div class="btn-group-vertical" role="group" aria-label="">
		<button type="button" class="btn btn-danger">Hips</button>
		<button type="button" class="btn btn-danger">Ankles</button>
		<button type="button" class="btn btn-danger">Wrists</button>
		<button type="button" class="btn btn-danger">Neck</button>
		<button type="button" class="btn btn-danger">Shoulders</button>
		<button type="button" class="btn btn-danger">Low Back</button>
	</div>










</div>