<div class="jumbotron" ng-controller="WODController">
	<h1>create new wods</h1>
    <div>
	    <label style="padding-right:10px;">Name</label>
		<input type="text" ng-model="newWodName" ng-maxlength="50">
	</div>
	<div>
		<label style="padding-right:10px;">Description</label>
		<input type="text" ng-model="newWodDescription" ng-maxlength="500">
	</div>
	<div>
		<label style="padding-right:10px;">Image</label>
		<input type="text" ng-model="newWodImage1" ng-maxlength="200">
	</div>
	<!-- TODO add images in here -->
	<button ng-click="createWod()">Add Wod</button>


	<h1>Here are your WODS</h1>
	
	<p>Date Range: {{firstDay}} - {{lastDay}}</p>


	<div class="btn-group-vertical" role="group" aria-label="">

	<button ng-repeat="item in wods" type="button" class="btn" ng-class="activeButtons.indexOf(item._id) > -1 ? 'btn-success' : 'btn-danger'" ng-click="toggleButtonState(item)">
		id = {{item._id}} wod = {{item.name}}
	</button>

	</div>










</div>