<div class="jumbotron" ng-controller="WODController">
	<h1>create new wods</h1>
    <div>
	    <label style="padding-right:10px;">Name</label>
		<input type="text" ng-model="newWodName" ng-maxlength="50">
	</div>
	<div>
		<label style="padding-right:10px;">Description</label>
		<input type="text" ng-model="newWodDescription" ng-maxlength="500">
	</div>
	<div>
		<label style="padding-right:10px;">WODIMAGE</label>
		<input type="text" ng-model="newWodImage" ng-maxlength="500">
	</div>
	<!-- TODO add images in here -->
	<button ng-click="createWod()">Add Wod</button>


	<h1>Here are your WODS</h1>
	
	<p>Date Range: {{firstDay}} - {{lastDay}}</p>


	<div class=row>
		<div class="col-sm-3"  ng-repeat="item in wods">
			<div class="card">
				<div ng-repeat="img in item.imgs">
					<img class="card-img-top" ng-src="{{img}}">
				</div>
				<div class="card-block">
					<h4 class="card-title">{{item.name}}</h4>
					<p class="card-text">{{item.description}}</p>
					<button  type="button" class="btn" ng-class="activeButtons.indexOf(item._id) > -1 ? 'btn-success' : 'btn-danger'" ng-click="toggleButtonState(item)">
						{{item.name}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>